
@font-face {
    font-family: 'MyFont';
    src: url('Magz.otf'); /* Replace 'path/to/myfont.ttf' with the actual file path */
  }
  
  


*{
   background-color : #070A0E;
    box-sizing: border-box;
   
      font-family: 'MyFont';
}

body{
    /*  */
  
    font-family: 'MyFont';
      
}



.container0{
  margin-top: 20px;
  background-color : #070A0E;
    margin-left: 20px;
    margin-right: 0px;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    align-items: center;
    margin : 10px;
}

.game-info{
    margin-left: 50px;
    margin-top: 200px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.game-info #slg{
    font-size: 30px;
    color: #CC57C7;
}
.game-info #info{
    /* // color: rgb(254, 196, 255); */
    color: #CC57C7;
    font-size: 18px;

}
.game-info #play{
    width: 17px;
    margin-left: 5px;
}
.logo-main img{
    margin-top: 100px;
}


.game-info #play {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #CC57C7;
  font-size: 18px;
}

.game-info #play img {
  width: 0px;
}



/* // NAVBARRR */



.navbar{
    font-family: 'MyFont';
    /* // background-color: rgb(23, 48, 65); */
    background-color: #070A0E;
    color: #fff;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    width : 100%;
    z-index: 1; 
}


#main-title-img{
width: 22px;
}
.nav{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 10px;
}
.nav a{
  text-decoration: none;
}

#mainn{
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 800px){

  #main-title{
    font-size:17px;
    
  }

  #main-title img{
    width: 30px;
    /* // margin-top: 5px; */
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 0px;
  }

  nav a{
    color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-right: 0px;

}
}

@media screen and (max-width: 800px) {


    .container0{
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .head{
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align:left;
        align-items: center;
        margin : 0px;
    }

    .logo-main img{
        width: 250px;
    }
    .game-info{
        margin-top: 20px;;
        margin-left: 30px;
        margin-right: 10px;
        margin-bottom: 40px;
    }
    
    .game-info #slg{
        font-size: 25px;
        color: #CC57C7;
    }
    .game-info #info{
         /* color: rgb(254, 196, 255); */
        color: #CC57C7;
        font-size: 15px;
    
    }


}








/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #CC57C7;
border-radius: 4px;
border-width: 0;
box-shadow: 0 2px 4px rgba(74, 52, 73, 0.5), 0 7px 13px -3px rgba(87, 65, 86, 0.5), 0 -3px 0 inset rgba(77, 57, 76, 0.5);
box-sizing: border-box;
color: rgb(21, 21, 21);

  cursor: pointer;
  display: inline-flex;
  font-family: 'MyFont';
  height: 42px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 21px;
}

.button-30:focus {
  box-shadow: rgba(74, 52, 73, 0.5) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(74, 52, 73, 0.5) 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(74, 52, 73, 0.5) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: rgba(74, 52, 73, 0.5) 0 3px 7px inset;
  transform: translateY(2px);
}