nav {
  background-color: #070A0E;
  color: #CC57C7;
  padding: 10px;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-right: 30px;
  margin-left: 30px;
}

#setting,
#htp {
  margin-right: 20px;
}

li {
  color: #CC57C7;
  margin-right: 20px;
}

a {
  color: #CC57C7;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  ul {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    margin-bottom: 10px;
  }
}
