body{
    background-color:  #080c10;
    color: #cc57c7;
}

.under{
    margin-top: 250px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 800px) {
    .under{
        margin-top: 250px;
        font-size: 20px;
    }
}
